/* Importação do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  /* Paleta de cores */
  --cor01: #1b1b1b;
  --cor02: #212225;
  --cor03: #4a11ef;
  --cor04: #e3e7e9;
  --cor05: #f5a30c;

  /* Predefinições background */
  --background-claro: var(--cor04);
  --background-escuro: var(--cor02);
  --background-uso: var(--background-claro);

  /* Predefinições sombra */
  --sombra-clara: rgba(255, 255, 255, 0.5);
  --sombra-escura: rgba(0, 0, 0, 0.5);
  --sombra-uso: var(--sombra-escura);

  /* Fontes */
  --fonte-padrao: "Quicksand", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-uso);
  font-family: var(--fonte-padrao);
}

.titulo-pagina {
  font-size: 3.4rem;
  font-weight: 500;
  text-align: center;
}

section.lista-de-blocos {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
ul.lista-de-blocos {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
ul.lista-de-blocos a {
  display: block;
  height: 150px;
  width: 90%;

  background-color: var(--background-uso);
  border-radius: 20px;
  box-shadow: 0 0 25px 1px var(--sombra-uso);

  /* Animação */
  /* RESOLVER PROBLEMA COM ANIMAÇÃO DEPOIS */
  /* transition: 2s; */
}
ul.lista-de-blocos a:hover {
  box-shadow: inset 0 0 25px 1px var(--sombra-uso);
}
